a {
    color: #FFFFFF;
    text-decoration: none;
}
.background {
    background: url(../img/background.jpg) no-repeat;
    z-index: -1;
    font-family: Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.container {
    width: 1064px;
    margin: 0 auto;
}
.header {
    color: #FFFFFF;
    padding-top: 37px;
    padding-bottom: 36px;
}
.header-logo {
    float: left;
    background: url(../img/logo.png) no-repeat;
    height: 44px;
    padding-left: 61px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}
.header-logo:hover {
    color: #F26522;
    background: url(../img/logo-hover.png) no-repeat;
}
.header-text-big {
    font-size: 29px;
    display: block;  
}
.header-text-small {
    font-size: 18px;
    display: block;
}
.header-contacts {
    float: right;
    line-height: 1.2em;
    font-size: 18px;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.header-contacts-tel {
    float: right;
    display: block;
}
.header-contacts-email {
    display: block;
}
.content {
    padding-top: 32px;
    font-size: 18px;
}
.tour-item {
    float: left;
    margin-right: 59px;
    margin-bottom: 58px;
    position: relative;
    text-decoration: none;
}
.tour-item:nth-child(3n) {
    margin-right: 0; 
}
.tour-item:hover .tour-info {
    bottom: 0;
}
.tour-item:hover .tour-name {
    color: #F26522;
}
.tour-img-container {
    position: relative;
    overflow: hidden;
}
.tour-img {
  display: block;
  border: 2px solid transparent;
  border-image: linear-gradient(to top, black 0%, white 100%);
  border-image-slice: 1;
}
.tour-info {
    width: 100%;
    height: 63px;
    background-color: #F26522;
    position: absolute;
    bottom: -63px;
    transition: 0.5s;
    color: white;
}
.tour-info-text-price {
    padding-left: 15px; 
}
.tour-info-text {
    font-size: 10px;
    padding-top: 30px;
}
.tour-info-price {
    font-size: 20px;
}
.tour-info-details {
    font-size: 14px;
    float: right;
    display: block;
    margin-right: 20px;
    padding-bottom: 10px;
}
.tour-info-details::after {
    content: "\203A";
    margin-left: 10px;
}
.tour-name {
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-top: 22px;
    transition: 0.5s;
}
.copyright {
    font-size: 12px;
    text-transform: capitalize;
    margin-top: 46px;
    text-align: center;
    color: white;
}




























